[Desktop Entry]
Name=Aptito
Comment=Download Accelerator for APT
Comment[es]=Acelerador de descargas para APT
Comment[pt]=Acelerador de downloads para APT
Type=Application
Exec=aptito-gui
Icon=/usr/lib/tuquito/aptito/aptito.png
Terminal=false
Categories=GNOME;GTK;System;
